<!-- File: page4b.html -->
<!-- This page template holds the Logbook (Infants) 1939 to 1966 page. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid"> <!-- This line creates the main grid layout for the page  -->
  <section class="panel"> <!-- This line starts the main content panel -->
    <h2>Logbook (Infants) 1939 - 1966</h2> <!-- This line displays the heading for the logbook section -->
    <p>Logbook (Infants) 1939 - 1966</p> <!-- This line displays paragraph which repeats the title of the logbook section -->
<div class="panel"> "> <!-- This line creates a panel container for the links -->
  <div class="grid-links"> <!-- This line creates a grid layout for the logbook page links -->
    <a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=243" target="_blank">Front page</a> <!-- This link opens the dront page of the logbook PDF -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=244" target="_blank">Inspection</a> <!-- This link opens pages 1 and 2 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=243" target="_blank">Page 1/2</a> <!-- This link opens the inspection page of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=245" target="_blank">Page 3/4</a> <!-- This link opens pages 3 and 4 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 5/6</a> <!-- This link opens pages 5 and 6 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 7/8</a> <!-- This link opens pages 7 and 8 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 9/10</a> <!-- This link opens pages 9 and 10 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 11/12</a> <!-- This link opens pages 11 and 12 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 13/14</a> <!-- This link opens pages 13 and 14 of the logbook -->
<a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=247" target="_blank">Page 15/16</a> <!-- This link opens pages 15 and 16 of the logbook -->
  </div> <!-- This line closes the grid links container -->
</div> <!-- This line closes the panel container -->
<p>Navigation for linked source pages: previous page, next page, and home (this page).</p> <!-- This linae explains navigation between the logbook pages -->

  </section> <!-- This line closes the main content section -->
  <aside class="panel"> <!-- This line starts the sidebar panel -->
    <h2>Notable Dates</h2> <!-- This line displays the heading for the notable dates section -->
    <ul> <!-- This line starts the unordered list for notable dates -->
      
      
      
    </ul> <!-- This line closes the unordered list for notable dates -->
  </aside> <!-- This line closes the sidebar section -->
</div> <!-- This line closes the main grid layout container -->
{% endblock %}


