<!-- File: page4e.html -->
<!-- This page template holds the Logbook (Junior) 1933 to 1964 page. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid"> <!-- grid layout for the page-->
  <section class="panel"> <!-- Main content panel -->
    <h2>Logbook (Junior) 1933 - 1964</h2> <!-- This is the heading for page 4e -->
    <p>Logbook (Junior) 1933 - 1964</p>
<div class="panel"> <!--Creates a panel inside the main panel-->
  <div class="grid-links"> <!--Creates a grid layout for mini panel -->
    <!-- in each <a> line below contains the clickable logbooks links for different teachers and sickness -->
    <a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=257" target="_blank">Front page</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=258" target="_blank">Teachers 1</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=259" target="_blank">Teachers 2</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=260" target="_blank">Teachers 3</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=261" target="_blank">Teachers 4</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=262" target="_blank">Sickness 1</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=263" target="_blank">Sickness 2</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=264" target="_blank">Sickness 3</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=265" target="_blank">Sickness 4</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=266" target="_blank">Sickness 5</a>
  </div> <!-- closes a grid layout for mini panel -->
</div> <!-- closes the panel inside the main panel-->
<p>Navigation for linked source pages: previous page, next page, and home (this page).</p> <!-- a text to explain the navigation-->

  </section> <!-- closes Main content panel -->
  <aside class="panel"> <!-- Starts side content panel containing the noteable notes-->
    <h2>Notable Dates</h2> <!-- This is the heading for side panel -->
    <ul> <!-- Starts unordered list for noteable dates -->
      
      
      
    </ul> <!-- closes unordered list for noteable dates -->
  </aside> <!-- closes side content panel containing the noteable notes-->
</div> <!-- closes grid layout for the page-->
{% endblock %}


