<!-- File: page1a.html -->
<!-- This page template holds the booklet links page. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid"> <!-- This code is the main page grid layout -->
  <section class="panel"> <!-- This is the main content panel code section -->
    <h2>Page 1a - Booklets</h2> <!-- This is the heading for the booklets page -->
    <p>This page contains booklet page links. The Historical Sketch links are wired to the Images folder. The Heroes table is prepared for additional links.</p> <!-- This code contains first paragraph -->

    <h3>A Historical Sketch</h3> <!-- This is the heading for the booklets page -->
    <div class="panel"> <!-- This is the panel container for the booklet links -->
      <div class="grid-links"> <!-- This is a grid layout code for the page links -->
        <a href="/Images/Booklets/Historical_Sketch/Front%20cover.jpg" target="_blank">Front cover</a> <!-- Link to the booklet front cover image -->
        <a href="/Images/Booklets/Historical_Sketch/Page%201.jpg" target="_blank">Page 1</a> <!-- Link to the page 1 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%202.jpg" target="_blank">Page 2</a> <!-- Link to the page 2 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%203.jpg" target="_blank">Page 3</a> <!-- Link to the page 3 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%204.jpg" target="_blank">Page 4</a> <!-- Link to the page 4 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%205.jpg" target="_blank">Page 5</a> <!-- Link to the page 5 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%206.jpg" target="_blank">Page 6</a> <!-- Link to the page 6 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%207.jpg" target="_blank">Page 7</a> <!-- Link to the page 7 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%208.jpg" target="_blank">Page 8</a> <!-- Link to the page 8 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%209.jpg" target="_blank">Page 9</a> <!-- Link to the page 9 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2010.jpg" target="_blank">Page 10</a> <!-- Link to the page 10 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2011.jpg" target="_blank">Page 11</a> <!-- Link to the page 11 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2012.jpg" target="_blank">Page 12</a> <!-- Link to the page 12 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2013.jpg" target="_blank">Page 13</a> <!-- Link to the page 13 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2014.jpg" target="_blank">Page 14</a> <!-- Link to the page 14 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2015.jpg" target="_blank">Page 15</a> <!-- Link to the page 15 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2016.jpg" target="_blank">Page 16</a> <!-- Link to the page 16 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2017.jpg" target="_blank">Page 17</a> <!-- Link to the page 17 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2018.jpg" target="_blank">Page 18</a> <!-- Link to the page 18 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2019.jpg" target="_blank">Page 19</a> <!-- Link to the page 19 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2020.jpg" target="_blank">Page 20</a> <!-- Link to the page 20 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2021.jpg" target="_blank">Page 21</a> <!-- Link to the page 21 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2022.jpg" target="_blank">Page 22</a> <!-- Link to the page 22 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2023.jpg" target="_blank">Page 23</a> <!-- Link to the page 23 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2024.jpg" target="_blank">Page 24</a> <!-- Link to the page 24 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2025.jpg" target="_blank">Page 25</a> <!-- Link to the page 25 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2026.jpg" target="_blank">Page 26</a> <!-- Link to the page 26 of the booklet -->
        <a href="/Images/Booklets/Historical_Sketch/Page%2027.jpg" target="_blank">Page 27</a> <!-- Link to the page 27 of the booklet -->
      </div> <!-- This line closes the grid of booklet links -->
    </div> <!-- This line closes the booklet panel section -->

    <h3>Marshfield School: Our Heroes of WW1</h3> <!-- This displays the heading for the WW1 heroes booklet -->
    <div class="panel"> <!-- This line creates a panel container for the WW1 booklet links -->
      <div class="grid-links"> <!-- This line creates a grid layout for WW1 booklet links -->
        <a href="#">Page 1</a> <!-- This placeholder link is intended for page 1 of Our Heroes of WW1 -->
        <a href="#">Page 2</a> <!-- This placeholder link is intended for page 2 of Our Heroes of WW1 -->
        <a href="#">Page 3</a> <!-- This placeholder link is intended for page 3 of Our Heroes of WW1 -->
        <a href="#">Page 4</a> <!-- This placeholder link is intended for page 4 of Our Heroes of WW1 -->
        <a href="#">Page 5</a> <!-- This placeholder link is intended for page 5 of Our Heroes of WW1 -->
        <a href="#">Page 6</a> <!-- This placeholder link is intended for page 6 of Our Heroes of WW1 -->
        <a href="#">Page 7</a> <!-- This placeholder link is intended for page 7 of Our Heroes of WW1 -->
        <a href="#">Page 8</a> <!-- This placeholder link is intended for page 8 of Our Heroes of WW1 -->
        <a href="#">Page 9</a> <!-- This placeholder link is intended for page 9 of Our Heroes of WW1 -->
        <a href="#">Page 10</a> <!-- This placeholder link is intended for page 10 of Our Heroes of WW1 -->
        <a href="#">Page 11</a> <!-- This placeholder link is intended for page 11 of Our Heroes of WW1 -->
        <a href="#">Page 12</a> <!-- This placeholder link is intended for page 12 of Our Heroes of WW1 -->
        <a href="#">Page 13</a> <!-- This placeholder link is intended for page 13 of Our Heroes of WW1 -->
        <a href="#">Page 14</a> <!-- This placeholder link is intended for page 14 of Our Heroes of WW1 -->
        <a href="#">Page 15</a> <!-- This placeholder link is intended for page 15 f Our Heroes of WW1 -->
        <a href="#">Page 16</a> <!-- This placeholder link is intended for page 16 f Our Heroes of WW1 -->
        <a href="#">Page 17</a> <!-- This placeholder link is intended for page 17 of Our Heroes of WW1 -->
        <a href="#">Page 18</a> <!-- This placeholder link is intended for page 18 of Our Heroes of WW1 -->
        <a href="#">Page 19</a> <!-- This placeholder link is intended for page 19 of Our Heroes of WW1 -->
        <a href="#">Page 20</a> <!-- This placeholder link is intended for page 20 of Our Heroes of WW1 -->
        <a href="#">Page 21</a> <!-- This placeholder link is intended for page 21 of Our Heroes of WW1 -->
        <a href="#">Page 22</a> <!-- This placeholder link is intended for page 22 of Our Heroes of WW1 -->
        <a href="#">Page 23</a> <!-- This placeholder link is intended for page 23 of Our Heroes of WW1 -->
        <a href="#">Page 24</a> <!-- This placeholder link is intended for page 24 of Our Heroes of WW1 -->
        <a href="#">Page 25</a> <!-- This placeholder link is intended for page 25 of Our Heroes of WW1 -->
        <a href="#">Page 26</a> <!-- This placeholder link is intended for page 26 of Our Heroes of WW1 -->
        <a href="#">Page 27</a> <!-- This placeholder link is intended for page 27 of Our Heroes of WW1 -->
        <a href="#">Page 28</a> <!-- This placeholder link is intended for page 28 of Our Heroes of WW1 -->
        <a href="#">Page 29</a> <!-- This placeholder link is intended for page 29 of Our Heroes of WW1 -->
        <a href="#">Page 30</a> <!-- This placeholder link is intended for page 30 of Our Heroes of WW1 -->
        <a href="#">Page 31</a> <!-- This placeholder link is intended for page 31 of Our Heroes of WW1 -->
        <a href="#">Page 32</a> <!-- This placeholder link is intended for page 32 of Our Heroes of WW1 -->
        <a href="#">Page 33</a> <!-- This placeholder link is intended for page 33 of Our Heroes of WW1 -->
        <a href="#">Page 34</a> <!-- This placeholder link is intended for page 34 of Our Heroes of WW1 -->
        <a href="#">Page 35</a> <!-- This placeholder link is intended for page 35 of Our Heroes of WW1 -->
        <a href="#">Page 36</a> <!-- This placeholder link is intended for page 36 of Our Heroes of WW1 -->
        <a href="#">Page 37</a> <!-- This placeholder link is intended for page 37 of Our Heroes of WW1 -->
        <a href="#">Page 38</a> <!-- This placeholder link is intended for page 38 of Our Heroes of WW1 -->
        <a href="#">Page 39</a> <!-- This placeholder link is intended for page 39 of Our Heroes of WW1 -->
        <a href="#">Page 40</a> <!-- This placeholder link is intended for page 40 of Our Heroes of WW1 -->
        <a href="#">Page 41</a> <!-- This placeholder link is intended for page 41 of Our Heroes of WW1 -->
        <a href="#">Page 42</a> <!-- This placeholder link is intended for page 42 of Our Heroes of WW1 -->
        <a href="#">Page 43</a> <!-- This placeholder link is intended for page 43 of Our Heroes of WW1 -->
        <a href="#">Page 44</a> <!-- This placeholder link is intended for page 44 of Our Heroes of WW1 -->
        <a href="#">Page 45</a> <!-- This placeholder link is intended for page 45 of Our Heroes of WW1 -->
        <a href="#">Page 46</a> <!-- This placeholder link is intended for page 46 of Our Heroes of WW1 -->
        <a href="#">Page 47</a> <!-- This placeholder link is intended for page 47 of Our Heroes of WW1 -->
        <a href="#">Page 48</a> <!-- This placeholder link is intended for page 48 of Our Heroes of WW1 -->
        <a href="#">Page 49</a> <!-- This placeholder link is intended for page 49 of Our Heroes of WW1 -->
        <a href="#">Page 50</a> <!-- This placeholder link is intended for page 50 of Our Heroes of WW1 -->
        <a href="#">Page 51</a> <!-- This placeholder link is intended for page 51 of Our Heroes of WW1 -->
        <a href="#">Page 52</a> <!-- This placeholder link is intended for page 52 of Our Heroes of WW1 -->
        <a href="#">Page 53</a> <!-- This placeholder link is intended for page 53 of Our Heroes of WW1 -->
        <a href="#">Page 54</a> <!-- This placeholder link is intended for page 54 of Our Heroes of WW1 -->
        <a href="#">Page 55</a> <!-- This placeholder link is intended for page 55 of Our Heroes of WW1 -->
        <a href="#">Page 56</a> <!-- This placeholder link is intended for page 56 of Our Heroes of WW1 -->
        <a href="#">Page 57</a> <!-- This placeholder link is intended for page 57 of Our Heroes of WW1 -->
        <a href="#">Page 58</a> <!-- This placeholder link is intended for page 58 of Our Heroes of WW1 -->
        <a href="#">Page 59</a> <!-- This placeholder link is intended for page 59 of Our Heroes of WW1 -->
        <a href="#">Page 60</a> <!-- This placeholder link is intended for page 60 of Our Heroes of WW1 -->
        <a href="#">Page 61</a> <!-- This placeholder link is intended for page 61 of Our Heroes of WW1 -->
        <a href="#">Page 62</a> <!-- This placeholder link is intended for page 62 of Our Heroes of WW1 -->
        <a href="#">Page 63</a> <!-- This placeholder link is intended for page 63 of Our Heroes of WW1 -->
        <a href="#">Page 64</a> <!-- This placeholder link is intended for page 64 of Our Heroes of WW1 -->
        <a href="#">Page 65</a> <!-- This placeholder link is intended for page 65 of Our Heroes of WW1 -->
        <a href="#">Page 66</a> <!-- This placeholder link is intended for page 66 of Our Heroes of WW1 -->
        <a href="#">Page 67</a> <!-- This placeholder link is intended for page 67 of Our Heroes of WW1 -->
        <a href="#">Page 68</a> <!-- This placeholder link is intended for page 68 of Our Heroes of WW1 -->
        <a href="#">Page 69</a> <!-- This placeholder link is intended for page 69 of Our Heroes of WW1 -->
        <a href="#">Page 70</a> <!-- This placeholder link is intended for page 70 of Our Heroes of WW1 -->
        <a href="#">Page 71</a> <!-- This placeholder link is intended for page 71 of Our Heroes of WW1 -->
        <a href="#">Page 72</a> <!-- This placeholder link is intended for page 72 of Our Heroes of WW1 -->
        <a href="#">Page 73</a> <!-- This placeholder link is intended for page 73 of Our Heroes of WW1 -->
        <a href="#">Page 74</a> <!-- This placeholder link is intended for page 74 of Our Heroes of WW1 -->
        <a href="#">Page 75</a> <!-- This placeholder link is intended for page 75 of Our Heroes of WW1 -->
        <a href="#">Page 76</a> <!-- This placeholder link is intended for page 76 of Our Heroes of WW1 -->
        <a href="#">Page 77</a> <!-- This placeholder link is intended for page 77 of Our Heroes of WW1 -->
        <a href="#">Page 78</a> <!-- This placeholder link is intended for page 78 of Our Heroes of WW1 -->
        <a href="#">Page 79</a> <!-- This placeholder link is intended for page 79 of Our Heroes of WW1 -->
        <a href="#">Page 80</a> <!-- This placeholder link is intended for page 80 of Our Heroes of WW1 -->
      </div> <!-- This line closes the WW1 booklet links grid -->
    </div> <!-- This line closes the WW1 booklet panel -->
    <p>When a page link is selected, use browser navigation for previous/next and this page as home.</p> <!-- This paragraph explains how to navigate between pages --> 
  </section> <!-- This line closes the main content section -->
  <aside class="panel"> <!-- This code starts the sidebar panel -->
    <h2>Notable Dates</h2> <!-- This displays the notable dates heading -->
    <ul> <!-- This line starts the unordered list -->
      <li>2004: Earlier booklet research was published by D Craven.</li> <!-- This is the notable dates list item -->
      <li>Additional WW1 booklet links can be added using this page template.</li> <!-- This is the notable dates list item -->
    </ul> <!-- This line closes the unordered list -->
  </aside> <!-- This line closes the sidebar panel -->
</div> <!-- This line closes the main grid layout -->
{% endblock %}



