<!-- File: page1.html -->
<!-- This page template holds the About page content. -->
{% extends "base.html" %}
{% block content %}

<div class="content-grid"> <!-- This is the main page layout grid section -->
  <section class="panel"> <!-- This is the About code section -->
    <h2>About</h2> <!-- This is the heading for the ABout section -->
    <!-- Below each <p> contains the paragraph in About section -->
    <p>This application is a Community Research project focusing on the history of Marshfield School (Little Horton District) which is part of Bradfords educational history. It is intended as a resource for anyone researching Bradfords educational history or just interested in the history of Marshfield School.</p>
    <p>It should be noted that all the information available in this application was provided under a personal, research and educational copy write. Therefore, it is likely to be covered by some other form of other copy-right restrictions. See copy-write statement at the end of this text. If you ignore this warning on copy-right infringements, then as the person carrying out the infringement you will be solely responsible for any repercussions.</p>
    <p>The information available to users shows the school through the lens of School Logs Books, Admission Books, Punishment Books, Images and other sources. Using these sources enables the school history to be viewed from its conception as Chapel Green Board School through to the present Marshfield School.</p>
    <p>Some of the resources included here have been collected and published (though not widely) by Mr D Craven in 2004. Many thanks to D Craven for allowing me to merge my research with that of his own.</p>
    <p>Major resources like the School Logbooks offer a unique window into the past from which general information on the day to day running of the school can be seen. From these comments many social aspects, of the time, can be seen and occasionally the head teacher's private thoughts or frustrations are expressed. Admission books show when a person entered the school, their fathers name, Standards attained and when they left school. Once again, another source full of social and societal information just waiting to be analysed.</p>
    <p>Noteable dates are intended to show key dates for researchers and interested parties to note.</p>
    <p>Two booklets that have been published about Marshfield School are included in the sources. The first is the Historical Sketch of Marshfield School written by J Jackson. The second is Marshfield School: Our heroes of World War 1 written by Ray Greenhough. To read the two booklets click <a href="/page1a">here</a>.</p>
    <p>Copyright: Permission is granted for personal, and educational use only. Commercial copying, hiring or lending is strictly prohibited. All rights reserved.</p>
  </section> <!-- This closes the About content section -->
  <aside class="panel"> <!-- This is the sidebar panel code section -->
    <h2>Notable Dates</h2> <!-- This is the heading for notable dates code section -->
    <ul> <!-- This code line starts the unordered list of historical dates -->
      <!-- Below in each <li> there is a list item -->
      <li>1870: Education Act enables local councils to open, operate and fund elementary education through the public purse.</li>
      <li>1870: The purpose of the Act was to provide Education where there were insufficient Church School provision. Often called Filling the Gaps.</li>
      <li>1870: Bradford set up its School Board in November.</li>
      <li>1873: The School Board opened its first schools in rented buildings.</li>
      <li>1874: Eight School Board schools were built and opened.</li>
      <li>1876: Parents become responsible for ensuring their children learnt the 3 r's.</li>
      <li>1876: Bradford School Board created an attendance committee.</li>
      <li>1876: Restricted child labour by linking it to passing certain school standards.</li>
    </ul> <!-- This closes the unordered list -->
  </aside> <!-- This closes the sidebar section -->
</div> <!-- This closes the main grid layout section-->
{% endblock %}
