<!-- File: page4d.html -->
<!-- This page template holds the Logbook (Junior) 1910 to 1933 page. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid"> <!-- grid layout for the page-->
  <section class="panel"> <!-- Main content panel -->
    <h2>Logbook (Junior) 1910 - 1933</h2> <!-- This is the heading for page 4d -->
    <p>Logbook (Junior) 1910 - 1933</p>
<div class="panel"> <!--Creates a panel inside the main panel-->
  <div class="grid-links"> <!--Creates a grid layout for mini panel -->
    <!-- in each <a> line below contains the clickable logbooks links for different pages-->
    <a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=257" target="_blank">Page 1</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=258" target="_blank">Page 2</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=259" target="_blank">Page 3</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=260" target="_blank">Page 4</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=261" target="_blank">Page 5</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=262" target="_blank">Page 6</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=263" target="_blank">Page 7</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=264" target="_blank">Page 8</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=265" target="_blank">Page 9</a>
<a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=266" target="_blank">Page 10</a>
  </div> <!-- closes a grid layout for mini panel -->
</div> <!-- closes the panel inside the main panel-->
    
<p>Navigation for linked source pages: previous page, next page, and home (this page).</p> <!-- a text to explain the navigation-->

  </section> <!-- closes Main content panel -->
  <aside class="panel"> <!-- Starts side content panel containing the noteable notes-->
    <h2>Notable Dates</h2> <!-- This is the heading for side panel -->
    <ul> <!-- Starts unordered list for noteable dates -->
      
      
      
    </ul> <!-- closes unordered list for noteable dates -->
  </aside>  <!-- closes side content panel containing the noteable notes-->
</div> <!-- closes grid layout for the page-->
{% endblock %}



