<!-- File: page1a.html -->
<!-- This page template holds the booklet links page. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid">
  <section class="panel">
    <h2>Page 1a - Booklets</h2>
    <p>This page contains booklet page links. The Historical Sketch links are wired to the Images folder. The Heroes table is prepared for additional links.</p>

    <h3>A Historical Sketch</h3>
    <div class="panel">
      <div class="grid-links">
        <a href="/Images/Booklets/Historical_Sketch/Front%20cover.jpg" target="_blank">Front cover</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%201.jpg" target="_blank">Page 1</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%202.jpg" target="_blank">Page 2</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%203.jpg" target="_blank">Page 3</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%204.jpg" target="_blank">Page 4</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%205.jpg" target="_blank">Page 5</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%206.jpg" target="_blank">Page 6</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%207.jpg" target="_blank">Page 7</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%208.jpg" target="_blank">Page 8</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%209.jpg" target="_blank">Page 9</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2010.jpg" target="_blank">Page 10</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2011.jpg" target="_blank">Page 11</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2012.jpg" target="_blank">Page 12</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2013.jpg" target="_blank">Page 13</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2014.jpg" target="_blank">Page 14</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2015.jpg" target="_blank">Page 15</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2016.jpg" target="_blank">Page 16</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2017.jpg" target="_blank">Page 17</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2018.jpg" target="_blank">Page 18</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2019.jpg" target="_blank">Page 19</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2020.jpg" target="_blank">Page 20</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2021.jpg" target="_blank">Page 21</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2022.jpg" target="_blank">Page 22</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2023.jpg" target="_blank">Page 23</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2024.jpg" target="_blank">Page 24</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2025.jpg" target="_blank">Page 25</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2026.jpg" target="_blank">Page 26</a>
        <a href="/Images/Booklets/Historical_Sketch/Page%2027.jpg" target="_blank">Page 27</a>
      </div>
    </div>

    <h3>Marshfield School: Our Heroes of WW1</h3>
    <div class="panel">
      <div class="grid-links">
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
        <a href="#">Page 4</a>
        <a href="#">Page 5</a>
        <a href="#">Page 6</a>
        <a href="#">Page 7</a>
        <a href="#">Page 8</a>
        <a href="#">Page 9</a>
        <a href="#">Page 10</a>
        <a href="#">Page 11</a>
        <a href="#">Page 12</a>
        <a href="#">Page 13</a>
        <a href="#">Page 14</a>
        <a href="#">Page 15</a>
        <a href="#">Page 16</a>
        <a href="#">Page 17</a>
        <a href="#">Page 18</a>
        <a href="#">Page 19</a>
        <a href="#">Page 20</a>
        <a href="#">Page 21</a>
        <a href="#">Page 22</a>
        <a href="#">Page 23</a>
        <a href="#">Page 24</a>
        <a href="#">Page 25</a>
        <a href="#">Page 26</a>
        <a href="#">Page 27</a>
        <a href="#">Page 28</a>
        <a href="#">Page 29</a>
        <a href="#">Page 30</a>
        <a href="#">Page 31</a>
        <a href="#">Page 32</a>
        <a href="#">Page 33</a>
        <a href="#">Page 34</a>
        <a href="#">Page 35</a>
        <a href="#">Page 36</a>
        <a href="#">Page 37</a>
        <a href="#">Page 38</a>
        <a href="#">Page 39</a>
        <a href="#">Page 40</a>
        <a href="#">Page 41</a>
        <a href="#">Page 42</a>
        <a href="#">Page 43</a>
        <a href="#">Page 44</a>
        <a href="#">Page 45</a>
        <a href="#">Page 46</a>
        <a href="#">Page 47</a>
        <a href="#">Page 48</a>
        <a href="#">Page 49</a>
        <a href="#">Page 50</a>
        <a href="#">Page 51</a>
        <a href="#">Page 52</a>
        <a href="#">Page 53</a>
        <a href="#">Page 54</a>
        <a href="#">Page 55</a>
        <a href="#">Page 56</a>
        <a href="#">Page 57</a>
        <a href="#">Page 58</a>
        <a href="#">Page 59</a>
        <a href="#">Page 60</a>
        <a href="#">Page 61</a>
        <a href="#">Page 62</a>
        <a href="#">Page 63</a>
        <a href="#">Page 64</a>
        <a href="#">Page 65</a>
        <a href="#">Page 66</a>
        <a href="#">Page 67</a>
        <a href="#">Page 68</a>
        <a href="#">Page 69</a>
        <a href="#">Page 70</a>
        <a href="#">Page 71</a>
        <a href="#">Page 72</a>
        <a href="#">Page 73</a>
        <a href="#">Page 74</a>
        <a href="#">Page 75</a>
        <a href="#">Page 76</a>
        <a href="#">Page 77</a>
        <a href="#">Page 78</a>
        <a href="#">Page 79</a>
        <a href="#">Page 80</a>
      </div>
    </div>
    <p>When a page link is selected, use browser navigation for previous/next and this page as home.</p>
  </section>
  <aside class="panel">
    <h2>Notable Dates</h2>
    <ul>
      <li>2004: Earlier booklet research was published by D Craven.</li>
      <li>
      <li>Additional WW1 booklet links can be added using this page template.</li>
    </ul>
  </aside>
</div>
{% endblock %}

