<!-- File: page3.html -->
<!-- This page template holds the Thornton Lane Board School page content. -->
{% extends "base.html" %}
{% block content %}
<div class="content-grid">
  <section class="panel">
    <h2>Thornton Lane Board School</h2>
    <p>Links to sources available for this school are at the end of this text.</p>
    <p>The school opened on Mon 5 Nov 1886. The day started with the children marching from their former school to their new school a few hundred metres away. What would they have thought about their new school. Windows in all classrooms, none of them were broken like in their previous school, lots of space in the playground instead of a very small shared playground, freshly painted walls instead of peeling plaster and individual classrooms instead of everyone in one room and new desks.</p>
    <p><strong>Sources</strong></p>
    <p>Thornton Lane Board School Logbook: <a href="/Images/Log%20books/Infant_1877%20-1905.pdf#page=75" target="_blank">Infant_1877-1905</a> (pages 75 to 207 cover this school) and <a href="/Images/Log%20books/Junior_1877%20-%201910.pdf#page=81" target="_blank">Junior_1877-1910</a> (pages 81 to 180 cover this school).</p>
    <p>Admission Register: <a href="/page3a">Admission_Jan 1894-Feb 1901</a>.</p>
    <p>Newspapers: 24/4/1884 Erection of new school, 25/9/1884 Dispute with Church members of School Board.</p>

  </section>
  <aside class="panel">
    <h2>Notable Dates</h2>
    <ul>
      <li>1886: Leaving school allowed if they had attained standard 6.</li>
      <li>1886: Part time schooling allowed if they had attained standard 3.</li>
      <li>1893: Minimum leaving age raised to 11.</li>
      <li>1893: Compulsory education for Blind and Deaf children.</li>
      <li>1899: Minimum leaving age raised to 12.</li>
      <li>1899: Compulsory education for physically impaired children.</li>
    </ul>
  </aside>
</div>
{% endblock %}
